@import "./variables.scss";

// General styles for anchor tags
a {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
  transition: 1s ease;
  &:hover {
    color: $primary;
    border-bottom: 1px solid $primary;
  }
}

// Style for an input placeholder
::placeholder {
  color: #a0a0a0;
}

// Primary colors for any type of text
.primary-color {
  color: $primary !important;
}

// Primary background for any DOM element
.primary-background {
    background: $primary;
}

// Flex directions
.flex-direction-row-column {
  flex-direction: column;
  @media (min-width: 800px) {
    flex-direction: row;
  }
}

// Sets bootstrap's default gray/back borders to none
.card {
  box-shadow: 1px 1px 28px #e5e5e5;
}

// Sets bootstrap's default gray/back borders to none
.card-dark-shadow {
  box-shadow: 1px 3px 10px #e0e0e0 !important;
}

.fa-eye,
.fa-eye-slash {
  color: #dedede !important;
}
