@import "./default.scss";
@import "./variables.scss";

// General styles
* {
  font-family: sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// Removes default list bullet points
li {
  list-style-type: none;
}

// Primary layout color
.first-layout {
  background-image: $layout-background;
}

.second-layout {
  background: $layout-background-2;
}

// Product navigation brad style
.navbar-brand {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
}

// Layout space
.layout-space {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 120px;
  @media (min-width: 800px) {
    padding-left: 290px;
    padding-right: 290px;
  }
}

// Navigation Bar
.navbar {
  padding-left: 10px !important;
  padding-right: 10px !important;
  @media (min-width: 800px) {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}

// Menu items
.nav-item {
  @media (min-width: 800px) {
    font-size: 14px;
    padding-left: 23px !important;
    padding-right: 23px !important;
  }
}

.space-menu {
  display: none;
  @media (min-width: 800px) {
    display: block;
  }
}

// Reduces the amount of roundness in a bootstrap's class
.square-card {
  border-radius: 5px !important;
}

// Input type outline
.form-input-outline {
  border-bottom: 1px solid #dedede;
}

// Auth input style
.auth-input {
  outline: none;
  border: none;
  color: #a0a0a0;
}

// Sets a DOM elements to a pointer of cursor
.cursor-pointer {
  cursor: pointer;
}

// Float left
.float-left {
  float: left;
}

// Float right
.float-right {
  float: right;
}

// Make a text bold
.font-weight-bold {
  font-weight: bold;
}

// Alternative auth text
.alternative {
  @media (max-width: 480px) {
    font-size: 18px;
  }
}

// Navigation top
.nav-btn {
  margin-top: 15px;
  @media (min-width: 800px) {
    margin-top: 0;
  }
}

// Remove default button border
.btn-btn {
  border: none;
  background: transparent;
}

// Removes box shadow
.card-special {
  box-shadow: none !important;
}

// Remove border from card
.remove-card-border {
  border: none !important;
}

// Slitly rounded
.round {
  border-radius: 20px !important;
}
